# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Java
*.class
*.jar
*.war
*.ear
*.jre
*.sublime-workspace
*.iml
*.log
target/

# IntelliJ IDEA
.idea/

# Eclipse
.project
.classpath
.settings/

# Node.js / React
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
/dist/
build/

# MySQL
*.sql
*.sql.gz

# Docker
**/docker-compose.override.yml
**/docker-compose.yml
docker-compose.override.yml
#*.log

# Operating system files
.DS_Store
Thumbs.db

# Maven
#target/
pom.xml.*
